.App {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal {
  position: absolute;
  top: 100px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  border-radius: 5px;
  box-shadow: 
    -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);  
  opacity: 1;
  visibility: visible;
  text-align: center;
}

#centered-toggle-button {
  position: absolute;
}

h3 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.content {
  padding: 1rem;
}

.actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
  text-align: end;
}

button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.btnSubmit {
  border: 0;
  background: #4564ca;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  font-size: 0.7rem;
  line-height: 1;
}

.btn_Ok{
  margin-left: 10px;
}

.btn_x{
  border: none;
  background: none;
  border-radius: 5px;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
}
.btn_x:hover{
  font-size: 0.9rem;
}
.btn_x:focus{
  border-bottom-color: none !important;
  border-left-color: none !important;
  border-right-color: none !important;
  border-top-color: none !important;
  color: unset !important;
}
.show_modal{
  margin-top: 7vh;
}

.header_modal{
  display: flex;
  justify-content: space-between;
}
.title_modal{
  width: 100%;
}